# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies (Root and Subfolders)
node_modules/
client/node_modules/
server/node_modules/

# Environment Secrets (NEVER UPLOAD THESE)
.env
.env.local
.env.*.local

# Production Build
dist/
dist-ssr
*.local

# OS & Editor files
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?